{% extends "base.html" %}
{% block content %}
<h2>Criar Nova Tarefa</h2>
<form method="POST">
  <label>Título:</label><br>
  <input type="text" name="titulo" required><br>

  <label>Descrição:</label><br>
  <textarea name="descricao" rows="3" required></textarea><br>
  
  <label>Prioridade:</label><br>
  <select name="prioridade">
    <option value="Alta">Alta</option>
    <option value="Média" selected>Média</option>
    <option value="Baixa">Baixa</option>
  </select><br><br>

  <button type="submit">Salvar</button>
</form>
{% endblock %}
